@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* index CSS */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}
.btn-secondary:hover{
  background-color: transparent !important;
  color: white;
}
 /* Base structure */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  overflow: hidden;
  background-image: url(images/booksBG.jpg);
}

/* Header */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 3rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.content{
    margin-top: 15%;
    margin-bottom: 10%;
}


